* {
  scroll-behavior: smooth;
  color: #212529;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-blue: #4169e1;
  --primary-color-red: #943000;
  --button-color: #4169e1; /* same color as primary but too lazy to go and change it, feel free to edit this */
  --color-white: #f2f2f2;

}
.App {
  background-image: url("./images/white-abstract-background.jpg");
}

.App-header {
  background-color: var(--primary-color-blue);
}
.page-wrap {
  display: flex;
  height: 95vh;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2rem;

}
.hero {
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 2rem;
  justify-content: space-around;
  position: relative;
  top: -8%;
  /* border: 1px solid green; */
  height: 70vh;
}
.left-hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  height: 100%;
  color: black;
}
.discord-box {
  background-color: #cdb4db;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.left-hero ul {
  padding: 0;
  list-style: none;
  overflow-y: scroll;
}
.left-hero li {
  padding: 0.3rem;
  text-align: left;
  display: flex;
}
.left-hero li img{
  width: 10%;
  padding-right: 0.3rem;
}
.left-hero h3 {
  margin-bottom: 0;
}
.middle-hero {
  /* border: 1px solid green; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;
}
#groupPic {
  width: 100%;
  margin: 1rem;
}
.right-hero {
  flex: 1;
  height: 100%;
}
.right-hero h3 {
  text-align: center;
}
.news-box, .discord-box {
  border: 3px solid black;
  margin: 1rem;
  overflow-y: scroll;
  height: 85%;
}
.news-box {
  background-color: #fefae0;
}
.news-box ul {
  padding: 0;
}
.news-box ul li{
  list-style: none;
  margin: 1rem;
}
.news-box li p {
  font-size: small;
  display: inline;
}
.news-box a {
  color: var(--button-color);
  text-decoration: none;
}

.news-box a:hover {
  text-decoration: underline;
}
.hero-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}
.hero-icons {
  font-size: 25px;
}
.hero-corner-name {
  /* border: 1px solid green; */
  position: absolute;
  bottom: 0;
  left: 0;
}
.hero-corner-name h1{
  color: var(--primary-color-red);
  font-size: 3rem;
  text-wrap: wrap;
  width: 85%;
  font-weight: 700;
}

#discord-button {
  border: 2px solid var(--button-color);
  padding: 1rem;
  border-radius: 5px;
  font-size: 16px;
  background-color: var(--color-white);
  text-align: center;
  flex: 0 0 auto;
}
#discord-button:hover {
  background-color: var(--button-color);
  cursor: pointer;
  color: var(--color-white);
}

.about-us {
  flex-direction: column;
  height: auto;
  margin-bottom: 3rem;
}
.about-us h2{
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
.card-wrap {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 80%;
  margin-bottom: 1rem;
}
.card {
  background-color: var(--primary-color-blue);
  width: 30%;
  font-size: 1.5rem;
}
.card p {
  color: var(--color-white);
  margin: 2rem;
}
.we-offer {
  flex-direction:column;
  height: 73vh;
}
.artboard {
  border: 1px solid green;
  text-align:justify;
  overflow: hidden;
}
.color-blue {
  color: #118ab2;
  font-weight: bolder;
}
.color-dark-blue {
  color: #073b4c;
  font-weight: bolder;
}
.color-red {
  color: #ef476f;
  font-weight: bolder;
}
.color-yellow {
  color: #fca311;
  font-weight: bolder;
}
.color-green {
  color: #6a994e;
  font-weight: bolder;
}
.color-purple {
  color: #7209b7;
  font-weight: bolder;
}
                          /* Our team */
.our-team {
  flex-direction: column;
  margin: 2rem;
}
.officer-box p {
  font-weight: 250;
}
.officer-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(16%, 1fr));
  gap: 20px;
}
#nft-disclosure {
  margin-top: 1rem;
}
footer {
  height: 30vh;
  border-top: 3px solid var(--primary-color-blue);
}
footer, footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer ul {
  gap: 2rem;
}
footer img {
  width: 20%;
}

                                /* ===== MEDIA QUERIES (MEDIUM DEVICES) ===== */
@media screen and (max-width: 1024px) {
   .hero {
        gap: 1rem;
        flex-direction: column-reverse;
        top: 0;
    }
    #groupPic {
      width: 80%;
    }
    .left-hero {
      flex-direction: row;
      justify-content: center;
    }
    .left-hero ul {
      display: flex;
    }
  

}
/* ===== MEDIA QUERIES (SMALl DEVICES) ===== */

@media screen and (max-width: 600px) {
  #groupPic {
    width: 14%;
  }
  .hero-corner-name {
    display: none;
  }
  .hero {
    position:unset;
    gap: 0;
    flex-direction:column;
    justify-content:unset;
    top: 0;
  }
  .hero-wrap {
    height: 118vh;
    align-items: normal;
  }
  .left-hero, .right-hero {
    height: 55%;
    margin-bottom: 1rem;
  }
  .left-hero {
    order: 2;
  }
  .card-wrap {
    flex-direction: column;
    height: unset;
    align-items: center;
    width: unset;
  }
  .card {
    height: 55vh;
    width: 75%;
    font-size: 2rem;
  }
}
